.box{
    background-color: palevioletred;
    align-items: center;
    padding: 10px;
}

.texto{
    font-size: 32px;
    font-weight: 600;
    color: aqua;
    text-transform: uppercase;
    text-align: center;
}